{% extends "base.html" %}

{% block content %}

<h3>Image</h3>

<div class="media">
  <div class="media-left">
    {% if image_url %}
      <img src="{{image_url}}" style="max-width:50%; height:auto">
    {% else %}
      <img src="goo.gl/rgRqXT">
    {% endif %}
  </div>
  <div>
    {% if predictions %}
      <ul class="list-unstyled">
      <li> <b> Prediction:  </b>
          <p id="Predictions">
          <body>
          <div id="results">
          <object type="text/html" 
                  name="results_object"
                  id = "results_object"
                  marginwidth="0" 
                  marginheight="40" 
                  width="240" 
                  height="120" 
                  scrolling="no" 
                  frameborder=0 
                  data = "{{predictions}}" >
          </object>
          </div>
              <script>
                  function reload_results(){
                      var container = document.getElementById("results");
                      var content = container.innerHTML;
                      container.innerHTML= content; 
                      //this line is to watch the result in console , you can remove it later	
                      console.log("Refreshed"); 
                  }
              </script>
              <a href="javascript: reload_results()">Refresh</a>
              </body>
          </p>
      </li>
      </ul>
    {% else %}
      <div>Unknown</div>
    {% endif %}
  </div>
</div>

{% endblock %}